<h2>Mi Hogar</h2>
<div class="ion-padding">
    <p style="text-align:center">
      Soy de Gracias, Lempira, aqui he nacido y he vivido todo este tiempo. Es 
      un lugar tranquilo, no tan peligroso, todos conocen a todos asi que cuidar la reputacion
      siempre ha sido importante. Tiene varios lugares turisticos pero debido a que 
      de alguna manera me terminé interesando por cosas mas grandes como las estrellas y más pequeñas 
      como los quarks, no he visitado muchos de esos lugares. 
    </p>
  </div>