
    <div class="ion-padding">
    <h2>Metas personales y profesionales</h2>
    <p style="text-align:center">
      Desde hace 2 años he venido planteando mis sueños y anhelos. Mis metas personales son algo simples,
      quiero tener una casa en donde pueda tener un laboratorio y un estudio completo para realizar 
      mis investigaciones, tambien deseo tener varios gatos (porque son lindos). Tengo varias metas profesionales,
      mencionaré las que me emocionan más:
      Deseo ser fisica, responder las preguntas a las que me ha conducido mi 
      propia curiosidad, deseo ser capaz de escribir las ecuaciones matematicas 
      que detallen y justifiquen mis respuestas, deseo trabajar en el CERN, 
      ganar un premio Nobel y entender cada tipo de calculo que existe.
      Desearia experimentar alguna vez la relatividad del tiempo a una gran escala, pero creo que es un sueño que  
      inevitablemente no se logrará cumplir.
    </p>
    </div>
 
  