<h2>About Me</h2>
<div class="ion-padding">
    <p style="text-align:center">
      Mi nombre es Mercedes Victoria Alfaro, tengo 17 años y estudio dos carreras simultaneamente,
      una de ellas es ingenieria informatica y la otra es una licenciatura en fisica, en la primera 
      es mi segundo año y en la segunda es mi primer año. Disfruto varias cosas, entre ellas jugar,
      pasar tiempo con mi gata, leer y por supuesto estudiar y retarme con problemas de fisica de alto nivel.
      Me gusta hablar sobre ciencia, se podria decir que seria una buena divulgadora. He participado en olimpiadas
      de fisica y en una interna de matematicas, he dado entrenamientos de olimpiadas y estoy escribiendo una novela (la misma que espero,
      pueda publicar algun dia) esta mezcla mis cosas favoritas, tiene ciencia, mitologia griega, neurociencia, psicologia, filosofia y ciencia ficcion.  
    </p>
  </div>